.resultsList {
    width: 22%;
    /* background-color: rgba(39, 38, 38, 0.7); */
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 6px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    right: 89px;
    top: 27px;
    font-size: 16px;
}

.searchResult {
    padding: 10px 20px;
    background-color: rgba(66, 55, 55, 0.5);
    margin: 3px 0;
}

.searchResult:hover {
    background-color: rgb(138, 138, 138) !important;
}