.pokeTypes,
.pokeNames,
.pokeData {
    background-image: url('../imgs/pokeBg2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.pt,
.pn {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;

}

.pt {
    height: 100vh;
}

.pokeData {
    height: 100vh;
}

.container-fluid {
    overflow: auto;
}

.page-link {
    cursor: pointer;
}

.page-link:hover {
    background-color: black;
}

.active>.page-link {
    background-color: black;
}